* {
    margin: 0;
    padding: 0;
}

/* main layout */
.main-body {
    display: flex;
}

.main-grid-left {
    height: 90vh;
    width: 200px;
    padding: 0;
}

.main-grid-center {
    height: 90vh;
    width: 1100px;
}

.main-center-header {
    height: 50px;
}

.main-center-content {
    height: calc(100% - 50px);
}

.main-grid-right {
    height: 90vh;
    width: 250px;
}

.main-right-header {
    height: 50px;
}

.main-grid-footer {
    height: 10vh;    
}


/* login, and register layout */
.login-grid-full, .register-grid-full {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-grid-center, .register-grid-center {
    height: 450px;
    width: 400px;
    border: 1px solid cornflowerblue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}