* {
    margin: 0;
    padding: 0;
}

/* main layout */
.main-grid-left {
    height: 90vh;
    width: 200px;
}

.main-grid-right {
    height: 90vh;
}

.main-grid-header {
    height: 50px;
}

.main-grid-content {
    height: calc(100% - 50px);
}

.main-grid-footer {
    height: 10vh;
}


/* login layout */
.login-grid-full {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-grid-center {
    height: 400px;
    width: 300px;
}